{% extends 'base.html' %}

{% block content %}
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Add New Plan</h1>
      
    </div><!-- End Page Title -->

    <section class="section">
      {% for message in messages %}
      
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{message}}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    
  
      {% endfor %}

      <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title"></h5>
    
                  <!-- General Form Elements -->
                  <form action="{% url 'registerPlan' %}" method="post">
                    {% csrf_token %}
                    <div class="row mb-3">
                      <label for="inputText" class="col-sm-2 col-form-label">Plan Name</label>
                      <div class="col-sm-12">
                        <input type="text" class="form-control" name="planName">
                      </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputText" class="col-sm-2 col-form-label">Plan Tilte</label>
                        <div class="col-sm-12">
                          <input type="text" class="form-control" name="planTitle">
                        </div>
                      </div>

                      <div class="row mb-3">
                        <label for="inputNumber" class="col-sm-2 col-form-label">Validity Period</label>
                        <div class="col-sm-12">
                          <input type="number" class="form-control" name="period">
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label for="inputNumber" class="col-sm-2 col-form-label">Price</label>
                        <div class="col-sm-12">
                          <input type="number" class="form-control" name="price">
                        </div>
                      </div>

                    <div class="row mb-3">
                     
                      <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">Submit Form</button>
                      </div>
                    </div>
    
                  </form><!-- End General Form Elements -->
    
                </div>
              </div>



    </div>    
    </div>
    </section>

  </main><!-- End #main -->
{% endblock %}