{% extends 'base.html'%}
{% load static %}
{% load qr_code %}
{% block content %}


  <main id="main" class="main">

    

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-12">
          <div class="row">

            
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Generate ID Card</h5>

              <!-- General Form Elements -->
              <form action="{% url 'generateIdCard' %}" method="POST">
                {% csrf_token %}
                <div class="row mb-3">
                  
                  <div class="col-sm-12">
                    <input type="text" class="form-control" placeholder="Enter ID" name="id">
                  </div>
                </div>
              
               <div class="row mb-3">
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Search Memeber</button>
                  </div>
                </div>

              </form><!-- End General Form Elements -->

            </div>
          </div>

          </div>
          {% for message in messages %}
      
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  {{message}}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            
          
              {% endfor %}
              {% if gymMember %}
    
    <div class="row" >
          <div class="col-6">
            <div class="card" style="background-color: rgb(32, 28, 4);color: gold;">
                <div class="row">
                  <h5 class="card-title text-center" style="color: White;">Yene Gym</h5>
                </div>
                <div class="row" >
                  <div class="col-4">
                    <img src="{{ gymMember.photo.url }}" alt="Profile" width="180px" height="150px">
                  </div>
                  <div class="col-7 pl-5">
                    <p class="card-text">Full Name: {{gymMember.firstName}} {{gymMember.lastName}}</p>
                  <p class="card-text">Member ID: {{gymMember.pk}}</p>
                  <p class="card-text">Phone No. {{gymMember.phone}}</p>
                  <p class="card-text">Join Date: {{gymMember.joinedAt}}</p>
                  </div>
                </div>
                <div class="row">
                    <img src="data:image/png;base64,{{ qr_code_image }}" alt="QR code Will appear here" style="width: 100px;">        </div>
{% if expired == "Expired" %} <span style="color: red; font-weight: bolder;">Expired</span> {%else %}<span style="color: rgb(60, 255, 210);">Not Expired</span> {% endif %}
          </div>
        </div>
    
  </div>
{% endif %}
          </div>
             <!-- Card with an image on left -->

          </div>
        </div><!-- End Left side columns -->

      
      </div>
    </section>

  </main><!-- End #main -->
{% endblock %}