{% extends 'Account-base.html' %}

{% load static %}

{% block content %}
<section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
  <div class="container">

    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
        <div class="card mb-3">
          {% if messages %}
          {% for message in messages %}
          <div class="alert alert-danger" role="alert">
            {{message}}
          </div>
          {% endfor %}
          {% endif %}
          <div class="card-body shadow-lg">
            <div class="d-flex justify-content-center py-4">

              <img class="logo d-flex align-items-center w-auto" src="{% static 'assets/img/logo.png' %}" alt="">

            </div><!-- End Logo -->
            <form class="row g-3 needs-validation" novalidate method="POST" action="">
              {% csrf_token %}

              <div class="col-12">
                <label for="email" class="form-label">Email:</label>
                <input type="email" name="email" class="form-control" id="email" required>
                <div class="invalid-feedback">Please enter your email!</div>
              </div>

              <div class="col-12">
                <button class="btn btn-warning w-100" type="submit">Reset</button>
              </div>

              <div class="col-12">
                <a class="btn text-primary" href="{% url 'login' %}">Login</a>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}