<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code Scanner</title>
    <script src="https://unpkg.com/html5-qrcode"></script>
</head>
<body>
    <div class="card-body">
        <div class="d-flex align-items-center" id="my-qr-reader"></div>
        <p id="message"></p>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            function onScanSuccess(decodeText, decodeResult) {

                // Extract the ID from the decodeResult object
                const idRegex = /ID:\s*#\s*(\d+)/;
                const match = decodeText.match(idRegex);
               const id = match[1];
                if (confirm(`QR code content: ${id}. Do you want to proceed?`)) {
                    // User confirmed, do something with the decodeText
                    window.location.replace(`http://127.0.0.1:7000/qrScanner/${id}`)

                    //document.getElementById('message').textContent = `QR code content: ${decodeText}`;
                } else {
                    // User canceled
                    document.getElementById('message').textContent = 'QR code scan canceled.';
                }
            }

            const htmlScanner = new Html5QrcodeScanner("my-qr-reader", {
                fps: 10,
                qrbos: 250,
            });

            htmlScanner.render(onScanSuccess);
        });
    </script>
</body>
</html>